/* TO DO
1.
2.
3.
*/

body {
    background-color: #efefef;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

blockquote {
    min-height: 120px;
}

.btn-default {
    background-color: #eee;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #333;
    margin: 12px;
    text-shadow: none;
}

.buttons {
    margin-bottom: 10px;
}

.jumbotron {
    background-color: rgb(191,190,232);
    margin-top: 8%;
}

.jumbotron .row .content {
    min-height: 190px;
}

p {
    font-size: 1.25em;
}

p > span {
    font-size: .75em;
    font-style: italic;
}

.row > .grade {
    margin-top: 0;
}

.row > .student {
    margin-bottom: 0;
}

.startOver{
  display: none;
  min-height: 239px;
}

.startOver .btn{
  margin-top: 50%;
}

.text-left {
    color: #333;
}

.wrapper {
    margin-bottom: 100px;
}
.foot {
    background-color: rgb(191,190,232);
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;

}

.foot p {
    margin-bottom: 0;
    padding-top: 6px;
}

.foot p a {
    color: #333;
}

.foot p a:hover {
    color: #eee;
    transition: all .2s ease;
}

@media (max-width: 700px) {
  .foot{
    margin-top: 10%;
    position: relative;
  }
  .foot p {
    text-align: center;
  }
}
